/.DS_Store
/node_modules
caddm_results.csv
/dist
.env
*.log
.idea
.vscode
coverage
npm-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.crt
*.p12
*.der
*.jks
*.iml
*.class
*.war
*.jar
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
